@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
    --primary-color: RGB(6,78,161);
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --third-color: rgb(210, 168, 81);
    --success-color: #5cb85c;
    --error-color: #d9534f;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}
h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}
/*Navbar*/
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 185px;
    padding-top: 104px;
}
.navbar .logo {
    font-family: 'Satisfy', cursive;
    color: var(--third-color);
    animation: slideInFromLeft 1s ease-in;
}
.navbar ul {
    display: flex;
    animation: slideInFromTop 1s ease-in;
}

.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}
.navbar a:hover {
    color: var(--third-color);
    border-bottom: 2px var(--third-color) solid;
}

.navbar .flex {
    justify-content: space-between;
    padding: 0;
    margin-right: 0;
    margin-left: 8.3%;
}

/*Showcase*/
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}
.showcase h1 {
    
    animation: slideInFromRight 1s ease-out;
}

.showcase p {
    margin: 20px 0;
    animation: slideInFromLeft 1s ease;
}


.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-text {
    animation: slideInFromPage 1200ms ease-in;
}
.showcase .showcase-text a {
    animation: slideInFromPage 1150ms ease-in-out;
}
.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 5;
    animation: slideInFromRight 1200ms ease-in;
}

.showcase-form .form-control {
    margin: 30px 0;
    animation: slideInFromLeft 1200ms ease-in;
}

.showcase-form input[type='text'], .showcase-form input[type='email'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
    background-color: transparent;
}

.showcase-form input:focus {
    outline: none;
}

.showcase::before, .showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-2deg);
}
/*Stats*/
.stats {
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
}

.container .stats-heading {
    animation: slideInFromPage 1200ms ease-out;
}

.universities > *:nth-child(2) > *:nth-child(1) {
    animation: slideInFromRight 1250ms ease-in-out;
}

.universities > *:nth-child(2) > *:nth-child(2) {
    animation: slideInFromPage 1s ease;
}

.universities > *:nth-child(2) > *:nth-child(3) {
    animation: slideInFromRight 1s ease-in-out;
}

.universities > *:nth-child(4) > *:first-child {
    animation: slideInFromRight 1250ms ease-out;
}

.universities > *:nth-child(4) > *:nth-child(2) {
    animation: slideInFromLeft 1250ms ease-out;
}

#privateU {
    height: 400px;
}
.stats-heading {
    max-width: 500px;
    margin: auto;
}

.stats .grid h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}
/* body-section */
.body-section .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.body-section .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.transport-head .btn {
    animation: slideInFromPage 1s ease-in;
}
/*Cloud*/
.cloud .grid {
    grid-template-columns: 1fr 1fr 1fr;
}

/*Universities*/
.universities .flex {
    flex-wrap: wrap;
}

.universities .flex > *:first-child {
    animation: slideInFromRight 1300ms ease-out;
}

.universities .flex > *:nth-child(2) {
    animation: slideInFromLeft 1150ms ease-in;
}

.universities .flex > *:nth-child(3) {
    animation: slideInFromPage 1s ease-in-out;
}

.universities .flex > *:nth-child(4) {
    animation: slideInFromRight 1150ms ease-in;
}

.universities .flex > *:nth-child(5) {
    animation: slideInFromLeft 1300ms ease-out;
}

.universities .card {
    cursor: pointer;
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
    width: 300px;
    height: 350px;
}

.universities .card h4 {
    padding: 5px 0;
    font-size: 20px;
    margin-bottom: 10px;
}

.universities .card h5 {
    padding: 5px 0;
    font-size: 16px;
    margin-bottom: 10px;
}
.universities .card img {
    width: 100%;
    height: 83.33%;
}
.universities .card:hover {
    transform: translateY(-15px);
    background-color: var(--light-color);
}

.universities > *:nth-child(4) > *:first-child, .universities > *:nth-child(4) > *:nth-child(2) {
    margin: 0 100px;
}

.universities > *:nth-child(4) > *:first-child img, .universities > *:nth-child(4) > *:nth-child(2) img {
    height: 80%;
}

/*Footer*/
.footer {
    background: linear-gradient(var(--dark-color),
    var(--secondary-color),
    var(--dark-color)
    );
}
.footer h2{
    font-family: 'Satisfy', cursive;
    color: var(--third-color);
}
.footer .social {
    justify-self: flex-end;
}
.footer h2 {
    margin: 0;
    justify-content: center;
}
.footer address a {
    display: block;
}
.footer .social a {
    margin: 0 10px;
}

/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromPage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}