@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    font-family: poppins;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    /*background: RGB(235, 229, 229);*/
}
.bg {
    background: radial-gradient(circle, transparent 50%, RGB(6,78,161) 150%), url("1stTest.jpg"), url("2st_Test.jpg");
    background-repeat: no-repeat, no-repeat, repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
}
.header {
    height: 100%;
    background-color: var(--primary-color);
}
.header-container {
    margin-left: 3%;
    width: 97%;  
    display: flex;
    position: fixed;
    z-index: 10;
}

.logo-part-2 {
    width: 100%;
}
.empty {
    padding-top: 26px;
    padding-bottom: 26px;
}
.header-inside {
    box-shadow: 0px 0px 13px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to top, var(--dark-color),
     var(--secondary-color), var(--dark-color));
}
.left-side {
    width: 7%;
    height: 100%;
    transition: 0.4s;
}
.left-side:hover {
    background-color: var(--primary-color);
}
/*in the middle*/
.in-the-middle {
    width: 60%;
    display: flex;
}
.in-the-middle-inside > a {
    font-size: 0.9em;
}
.in-the-middle-inside {
    text-transform: uppercase;
    display: inline;
    width: 22%;
    transition: 0.5s;
}
.in-the-middle-inside a {
    color: #EFF6FC;
    text-decoration: none;
    text-shadow: 2px 2px var(--primary-color);
    transition: color 0.5s;
}
.in-the-middle-inside a:hover {
    border-bottom: 1px solid  var(--third-color); 
    color: var(--third-color);
    text-shadow: none;
}
.the-header {
    height: 40px;
    padding-top: 14px;
    padding-left: 14px;
    transition: 0.5s;
}
.in-the-middle-inside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #EFF6FC;
    transition: 0.4s;
}
.in-the-middle-inside ul li {
    font-size: 0.8em;
    padding-left: 15px;
    color: transparent;
    height: 25px;
    transition: 0.4s;
}
.in-the-middle-inside li a {
    text-shadow: none;
    color: transparent;
    transition: 0.5s;
}
.in-the-middle-inside:hover {
    
    background-color: var(--primary-color);
}
.in-the-middle-inside:hover li{
    color: #EFF6FC;
}
.in-the-middle-inside:hover li a {
    color: #EFF6FC;
}
.in-the-middle-inside li a:hover {
    color: var(--third-color);
}
.in-the-middle-inside:hover ul{
    padding-top: 15px;
    background-color: var(--primary-color);
}
/*right side*/
.right-side {
    text-align: center;
    width: 33%;
    display: flex;
    justify-content: flex-end;
}
.right-side a {
    color: #EFF6FC;
}

.search-box {
    box-shadow: 0px 0px 1px 2px var(--primary-color);
    margin: 2%;
    /*height: 38px;*/
    width: 230px;
    border-radius: 50px;
    transition: 0.4s;
}
.search-button {
    float: right;
    width: 11.5%;
    height: 78%;
    margin-top: 1.5%;
    margin-right: 2%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.search-text {
    color: #EFF6FC;
    height: 28px;
    border: none;
    outline: none;
    background: transparent;
    float: left;
    padding: 0;
    font-size: 14px;
    margin-top: 1.5%;
    padding-left: 6%;
    transition: 0.4s;
    width: 0px;
}
.search-box:hover {
    width: 230px;
}
.search-box:hover > .search-text {
    width: 60%;
    height: 28px;
}
.search-box:hover > .search-button {
    background: var(--third-color);
}
.search-box:hover > .search-button > img {
    mix-blend-mode: difference;
}
.search-box:hover {
    
    background-color: var(--primary-color);
}
.search-text::placeholder {
    color: #EFF6FC;
}
.search-box.open {
    background: linear-gradient(to bottom , var(--primary-color) 1%, transparent , var(--primary-color) 122%);
    width: 230px;
}
.search-box.open .search-text {
    width: 80%;
}
.search-box.open .search-button {
    background: var(--third-color);
}
img {
    width: auto;
}
